*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

.contactimage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border: 1px solid whitesmoke;
    border-radius: 10px;
}

.contactimage:hover{
  transform: scale(1.01);
}

.pro-con{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 6% auto 0 ;

}
.pro-card{
    position: relative;
    height: 400px;
    width: 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    background-color: #9db;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgb(0, 0, 0,0.1);
    margin: 30px;
    cursor: pointer;
    transition: 0.5s ease;
}
.pro-card:hover{
    transform: translateY(-5px);
    background-color: #B5CFB7;
}
.pro-image{
    height: 200px;
    width: 270px;
    overflow: hidden;
    border-radius: 20px;
    margin-bottom: 20px;
    object-fit: cover;

}
.pro-image img {
    height: 100%;
    width: 100% ;
}
.pro-info{
    text-align: center;

}
.pro-info h2{
    font-size: 20px;
    margin-bottom: 10px;
}
.pro-info p{
    font-size: 17px;
    color: #666;
    line-height: 1.2;
}
.social {
    margin-top: 40px;
}
.social a{
    border: 1px solid black;
    font-weight: bold;
    padding: 2px;
    border-radius: 5px;
    background: #666;
    color: white;
    font-size: 17px;
    margin-right: 2px;
    text-decoration: none;

}
.social i{
    color: black;
    font-weight: bold;
}



.aboutimage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border: 1px solid whitesmoke;
    border-radius: 10px;
}

.d{
    margin: 7px;
}


.d i{
    color: #9db;
}

.d li{
    list-style-type: none;
    padding-left: 20px;
}


.d button{
    background:rgb(179, 164, 164);
    border: none;
    width: 80%;
 margin: 5px;
 margin-left: 20px;
 font-weight: bold;
    
}


.v{
    background: #9db;
    padding: 15px;
    line-height: 1.2;
    margin: 10px;
    border-radius: 15px;
}
 
b{background-color: black;}

.telecel{
    margin: 25px;

}

.ai{
    color:gold;
    font-weight: bolder;
    text-transform: uppercase;
}
.form{
    margin: 20px;
}
.form h2 {
    color: white;
    font-weight: bolder;
    font-size: 1.9rem;
    font-family: "Poppins",sans-serif;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.form p{
    margin: 1px;
    position: relative;
    width: 100%;
    color: white;
    font-size: large;
}
.form .tobuy{
    text-decoration: none;
    color: white;
    background-color: #4caf50;
    padding: 4px;
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
    margin: 20px;
}
.form .tobuy:hover{
background-color: black;
}
input[type=number], select{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 2px 3px 7px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
 
}
input[type=number]{
    display: block;
}
input[type=submit]{
    width: 40%;
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 20px;
    margin-left: 150px;
}
input[type=submit]:hover{
background-color: black;
}
.form span{
    color: aqua;
    margin-top: 50px;
    font-weight: bold;
}
.form p{
    margin-top: 20px;
margin-bottom: 40px;
}
.php{
    margin-top: 40px;
}



@media (max-width: 600px) {
    .pro-con{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1px;
    }

}

@media ( max-width:346px) {

    .pro-card{
        width: calc(90% - 40px);


    }
    .pro-image{
        height: 100%;
        width: 100%;
        overflow: hidden;
        border-radius: 20px;
        margin-bottom: 20px;
        object-fit: cover;
    
    }
   
}
@media ( max-width:449px) {
    .telecel{
        width: 70%;
        margin: 10px;
    }
    input[type=submit]{
        margin-left: 20px;
        border-bottom: 80px;
    }
    input[type=number], select{
        width: 60%;
    }
}

@media (min-width:610px){
    .aboutimage{
     height: 500px;
     width: 70%;
    }
    .telecel{
        height: 430px;
    }
 }

 .mySlides {display:none;}

@media (min-width: 800px) {
    .contactimage{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        border: 1px solid whitesmoke;
        border-radius: 10px;
    }
    
    section{
        float: left;
        width: 50%;
        padding: 10px;
    }
    .layout::after{
        content: "";
        display: table;
        clear: both;
    }
}

